<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style>


table, td, th {
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}

		</style>

	</head>

	<body style="font-size:8px">


		<div style="padding-bottom: 40px">
			<img  src="<%= data.siteUrl %>/public/assets/logo.png" style="display: block;
			margin-left: auto;
			margin-right: auto;
			width: 25%;" />
			<div style="text-align: center;"> Market Road Sagar- 577401 </div>
			<div style="text-align: center;"> Mobile: 9169162280 </div>
		</div>

	

        <div style="float:left;width:100%;padding-left:4%;margin-bottom: 50px;">
			<div class="details-head"> Customer Details</div>
			<div class="details" style="text-transform: capitalize;"> Name :<%= data.customerDetails.name %> </div>
			<div class="details" style="text-transform: capitalize;" > Address:  <%= data.customerDetails.address %></div>
			<div>Mobile:  <%= data.customerDetails.mobile.number %></div>
		</div>

        <div style="float:right;width:100%">
			<div class="details-head"> Innvoice Details</div>
		</div>

       
            <table>
                <tr>
                  <th>Title</th>
                  <th>Amount</th>
                </tr>
                <tr>   
            <tr><td style="text-align: left">Total Amount Paid </td> <td>  <%= data.amount %> </td></tr>
			
     
    </table>
      

        <br> </br>
        <div>
            <div>  Balance after installment :  <%= data.balance %></div>
            <div> Paid At : <%= new Date(data.paidAt).toDateString() %></div>
        </div>
        <br> </br>
		<br> </br>
		<br> </br>

		<div style="text-align: right;"> Manager Signature</div>
		<br> </br>
		<br> </br>
		<br> </br>
		<p style="text-align: center">
			Thanks for the Bussiness
		</p>
	</body>
</html>